.ItemDetailContainer{
            flex-direction: column;
            justify-items: center;
            width: 50vh;
            height: 50vh;
            border-radius: 30px;
            padding: 0.5rem;
            margin: 3rem;
            justify-content: center;
        
}