.CardItem {
    
            display: flex;
            flex-direction:column;
            justify-items: center;
            width: 50vh;
            height: 50vh;
            border-radius: 30px;
            padding: 2rem;
            margin: 3rem;
            background-color: darkgray;

        }

        .ItemImg{
            width: 300px;

        }
